@model List<EmployeeManagement.Contracts.Employee>;
@{
    ViewBag.Title = "Employees";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <b>Search Employees</b><br />
    @Html.TextBox("Search") <input type="submit" value="Search"/>
    
}

@foreach (var emp in Model)
{
    @Html.ActionLink(linkText : emp.FirstName + " " + emp.LastName, 
                    actionName: "Details", 
                    controllerName: "Employee",
                    routeValues: new{ Id = emp.Id}, 
                    htmlAttributes: null);
    <span>&emsp;</span>
    @Html.ActionLink(linkText : "Delete",
                    actionName: "Delete",
                    controllerName: "Employee",
                    routeValues: new{ Id = emp.Id},
                    htmlAttributes: null)
    ;
    <br \>
}

@Html.ActionLink(linkText : "Create new employee",
                    actionName: "Create",
                    controllerName: "Employee"
                    );
